openapi: 3.1.0
info:
  title: Ryder Carrier Documents Locations API
  description: The Ryder Carrier API enables carriers to push updates to Ryder for managing transportation, brokerage, and tracking services. Carriers can submit event updates for load tenders, milestones, and vehicle locations, and upload documents to the RyderShare platform. Authentication uses an API key provided in the Ocp-Apim-Subscription-Key header.
  version: '2026-01-01'
  contact:
    name: Ryder Developer Portal
    url: https://developer.ryder.com
servers:
- url: https://api.ryder.com/rcsc/events/v1
  description: Production
- url: https://apiqa.ryder.com/rcsc/events/v1
  description: Testing
security:
- apiKeyAuth: []
tags:
- name: Locations
  description: Location information and service details
paths:
  /locations:
    get:
      operationId: listLocations
      summary: List Locations
      description: Retrieve location information including address, services offered, business hours, and contact details.
      tags:
      - Locations
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  locations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Location'
components:
  schemas:
    Location:
      type: object
      properties:
        locationId:
          type: string
        name:
          type: string
        address:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        services:
          type: array
          items:
            type: string
        businessHours:
          type: string
        phone:
          type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
externalDocs:
  description: Ryder Carrier API Documentation
  url: https://developer.ryder.com/scs/docs/scs-carrier/overview
