openapi: 3.1.0
info:
  title: Ryder Carrier Documents Invoices API
  description: The Ryder Carrier API enables carriers to push updates to Ryder for managing transportation, brokerage, and tracking services. Carriers can submit event updates for load tenders, milestones, and vehicle locations, and upload documents to the RyderShare platform. Authentication uses an API key provided in the Ocp-Apim-Subscription-Key header.
  version: '2026-01-01'
  contact:
    name: Ryder Developer Portal
    url: https://developer.ryder.com
servers:
- url: https://api.ryder.com/rcsc/events/v1
  description: Production
- url: https://apiqa.ryder.com/rcsc/events/v1
  description: Testing
security:
- apiKeyAuth: []
tags:
- name: Invoices
  description: Invoice details and payment status
paths:
  /invoices:
    get:
      operationId: listInvoices
      summary: List Invoices
      description: Retrieve historical invoice details for the fleet, including line items, payment status, and customer-specific account details.
      tags:
      - Invoices
      parameters:
      - name: startDate
        in: query
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
components:
  schemas:
    Invoice:
      type: object
      properties:
        invoiceId:
          type: string
        date:
          type: string
          format: date
        amount:
          type: number
          format: double
        status:
          type: string
          enum:
          - paid
          - pending
          - overdue
        lineItems:
          type: array
          items:
            type: object
            properties:
              description:
                type: string
              amount:
                type: number
                format: double
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
externalDocs:
  description: Ryder Carrier API Documentation
  url: https://developer.ryder.com/scs/docs/scs-carrier/overview
