openapi: 3.2.0
info:
  title: Ryder Fleet Management Invoices API
  description: The Ryder Fleet Management API enables seamless integration of fleet and location data into business systems. It provides access to Ryder fleet details including vehicle information and specifications, location data with address and service hours, historical maintenance records, and invoice details with line items and payment status.
  version: '2026-01-01'
  contact:
    name: Ryder Developer Portal
    url: https://developer.ryder.com
servers:
- url: https://developer.ryder.com/fms/apis
  description: Production
security:
- apiKeyAuth: []
tags:
- name: Invoices
  description: Invoice details and payment status
paths:
  /invoices:
    get:
      operationId: listInvoices
      summary: List Invoices
      description: Retrieve historical invoice details for the fleet, including line items, payment status, and customer-specific account details.
      tags:
      - Invoices
      parameters:
      - name: startDate
        in: query
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
components:
  schemas:
    Invoice:
      type: object
      properties:
        invoiceId:
          type: string
        date:
          type: string
          format: date
        amount:
          type: number
          format: double
        status:
          type: string
          enum:
          - paid
          - pending
          - overdue
        lineItems:
          type: array
          items:
            type: object
            properties:
              description:
                type: string
              amount:
                type: number
                format: double
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
externalDocs:
  description: Ryder FMS API Documentation
  url: https://developer.ryder.com/fms/docs/fms-fleet-api/overview
