openapi: 3.2.0
info:
  title: Ryder Fleet Management Service History API
  description: The Ryder Fleet Management API enables seamless integration of fleet and location data into business systems. It provides access to Ryder fleet details including vehicle information and specifications, location data with address and service hours, historical maintenance records, and invoice details with line items and payment status.
  version: '2026-01-01'
  contact:
    name: Ryder Developer Portal
    url: https://developer.ryder.com
servers:
- url: https://developer.ryder.com/fms/apis
  description: Production
security:
- apiKeyAuth: []
tags:
- name: Service History
  description: Historical maintenance records
paths:
  /fleet/{vehicleId}/service-history:
    get:
      operationId: getServiceHistory
      summary: Get Service History
      description: Retrieve historical maintenance records for a specific vehicle.
      tags:
      - Service History
      parameters:
      - name: vehicleId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServiceRecord'
components:
  schemas:
    ServiceRecord:
      type: object
      properties:
        recordId:
          type: string
        vehicleId:
          type: string
        serviceDate:
          type: string
          format: date
        description:
          type: string
        cost:
          type: number
          format: double
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
externalDocs:
  description: Ryder FMS API Documentation
  url: https://developer.ryder.com/fms/docs/fms-fleet-api/overview
