openapi: 3.2.0
info:
  title: Ryder TM Shipment Management Ship Status API
  description: The Ryder TM Shipment Management API enables seamless integration for customers to manage shipments, loads, and tracking updates. Customers can submit shipment requirements, retrieve real-time shipment information throughout the lifecycle, and receive event notifications. Authentication uses OAuth 2.0 Client Credentials flow via Okta combined with an API subscription key.
  version: '2026-01-01'
  contact:
    name: Ryder Developer Portal
    url: https://developer.ryder.com
servers:
- url: https://api.ryder.com/tmshipment/v1
  description: Production
- url: https://apiqa.ryder.com/tmshipment/v1
  description: Testing
security:
- oauth2: []
- apiKeyAuth: []
tags:
- name: Ship Status
  description: Shipment status and tracking
paths:
  /ship-status/{shipmentId}:
    get:
      operationId: getShipmentStatus
      summary: Get Shipment Status
      description: Retrieve the current status and tracking information for a shipment throughout its lifecycle.
      tags:
      - Ship Status
      parameters:
      - name: shipmentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentStatus'
        '404':
          description: Shipment not found
components:
  schemas:
    ShipmentStatus:
      type: object
      properties:
        shipmentId:
          type: string
        currentStatus:
          type: string
        lastEvent:
          type: string
        lastEventTime:
          type: string
          format: date-time
        currentLocation:
          type: object
          properties:
            latitude:
              type: number
            longitude:
              type: number
            description:
              type: string
        estimatedDelivery:
          type: string
          format: date-time
        events:
          type: array
          items:
            type: object
            properties:
              eventType:
                type: string
              timestamp:
                type: string
                format: date-time
              location:
                type: string
              description:
                type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://login.okta.com/oauth2/v1/token
          scopes: {}
    apiKeyAuth:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
externalDocs:
  description: Ryder TM Shipment Management API Documentation
  url: https://developer.ryder.com/scs/docs/tm-shipment-management/overview
