openapi: 3.2.0
info:
  title: Ryder TM Shipment Management Loads API
  description: The Ryder TM Shipment Management API enables seamless integration for customers to manage shipments, loads, and tracking updates. Customers can submit shipment requirements, retrieve real-time shipment information throughout the lifecycle, and receive event notifications. Authentication uses OAuth 2.0 Client Credentials flow via Okta combined with an API subscription key.
  version: '2026-01-01'
  contact:
    name: Ryder Developer Portal
    url: https://developer.ryder.com
servers:
- url: https://api.ryder.com/tmshipment/v1
  description: Production
- url: https://apiqa.ryder.com/tmshipment/v1
  description: Testing
security:
- oauth2: []
- apiKeyAuth: []
tags:
- name: Loads
  description: Load management within shipments
paths:
  /loads:
    get:
      operationId: listLoads
      summary: List Loads
      description: Retrieve a list of loads associated with shipments.
      tags:
      - Loads
      parameters:
      - name: shipmentId
        in: query
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  loads:
                    type: array
                    items:
                      $ref: '#/components/schemas/Load'
  /loads/{loadId}:
    get:
      operationId: getLoad
      summary: Get Load
      description: Retrieve details for a specific load.
      tags:
      - Loads
      parameters:
      - name: loadId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Load'
        '404':
          description: Load not found
components:
  schemas:
    Load:
      type: object
      properties:
        loadId:
          type: string
        shipmentId:
          type: string
        status:
          type: string
          enum:
          - assigned
          - in_transit
          - delivered
        carrier:
          type: string
        vehicle:
          type: string
        driver:
          type: string
        pickupDate:
          type: string
          format: date-time
        deliveryDate:
          type: string
          format: date-time
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://login.okta.com/oauth2/v1/token
          scopes: {}
    apiKeyAuth:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
externalDocs:
  description: Ryder TM Shipment Management API Documentation
  url: https://developer.ryder.com/scs/docs/tm-shipment-management/overview
