openapi: 3.2.0
info:
  title: Ryder TM Shipment Management Ship Confirmation API
  description: The Ryder TM Shipment Management API enables seamless integration for customers to manage shipments, loads, and tracking updates. Customers can submit shipment requirements, retrieve real-time shipment information throughout the lifecycle, and receive event notifications. Authentication uses OAuth 2.0 Client Credentials flow via Okta combined with an API subscription key.
  version: '2026-01-01'
  contact:
    name: Ryder Developer Portal
    url: https://developer.ryder.com
servers:
- url: https://api.ryder.com/tmshipment/v1
  description: Production
- url: https://apiqa.ryder.com/tmshipment/v1
  description: Testing
security:
- oauth2: []
- apiKeyAuth: []
tags:
- name: Ship Confirmation
  description: Shipment confirmation operations
paths:
  /ship-confirmations:
    post:
      operationId: confirmShipment
      summary: Confirm Shipment
      description: Submit a ship confirmation with final shipment details once goods are shipped.
      tags:
      - Ship Confirmation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipConfirmation'
      responses:
        '200':
          description: Confirmation accepted
        '400':
          description: Invalid confirmation data
components:
  schemas:
    ShipConfirmation:
      type: object
      required:
      - shipmentId
      - actualShipDate
      properties:
        shipmentId:
          type: string
        actualShipDate:
          type: string
          format: date-time
        trackingNumber:
          type: string
        carrier:
          type: string
        weight:
          type: number
        lineItems:
          type: array
          items:
            type: object
            properties:
              sku:
                type: string
              quantity:
                type: integer
              description:
                type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://login.okta.com/oauth2/v1/token
          scopes: {}
    apiKeyAuth:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
externalDocs:
  description: Ryder TM Shipment Management API Documentation
  url: https://developer.ryder.com/scs/docs/tm-shipment-management/overview
