openapi: 3.2.0
info:
  title: Ryder Management Fleet API
  description: The Ryder Fleet Management API enables seamless integration of fleet and location data into business systems. It provides access to Ryder fleet details including vehicle information and specifications, location data with address and service hours, historical maintenance records, and invoice details with line items and payment status.
  version: '2026-01-01'
  contact:
    name: Ryder Developer Portal
    url: https://developer.ryder.com
servers:
- url: https://developer.ryder.com/fms/apis
  description: Production
security:
- apiKeyAuth: []
tags:
- name: Fleet
  description: Fleet vehicle information and specifications
paths:
  /fleet:
    get:
      operationId: listFleetVehicles
      summary: List Fleet Vehicles
      description: Retrieve a list of vehicles in the fleet, including vehicle information and specifications.
      tags:
      - Fleet
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  vehicles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Vehicle'
        '401':
          description: Unauthorized
  /fleet/{vehicleId}:
    get:
      operationId: getVehicle
      summary: Get Vehicle Details
      description: Retrieve detailed information about a specific vehicle.
      tags:
      - Fleet
      parameters:
      - name: vehicleId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
        '404':
          description: Vehicle not found
components:
  schemas:
    Vehicle:
      type: object
      properties:
        vehicleId:
          type: string
        vin:
          type: string
        make:
          type: string
        model:
          type: string
        year:
          type: integer
        status:
          type: string
        mileage:
          type: integer
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
externalDocs:
  description: Ryder FMS API Documentation
  url: https://developer.ryder.com/fms/docs/fms-fleet-api/overview
