openapi: 3.2.0
info:
  title: Ryder Fleet Management Locations API
  description: The Ryder Fleet Management API enables seamless integration of fleet and location data into business systems. It provides access to Ryder fleet details including vehicle information and specifications, location data with address and service hours, historical maintenance records, and invoice details with line items and payment status.
  version: '2026-01-01'
  contact:
    name: Ryder Developer Portal
    url: https://developer.ryder.com
servers:
- url: https://developer.ryder.com/fms/apis
  description: Production
security:
- apiKeyAuth: []
tags:
- name: Locations
  description: Location information and service details
paths:
  /locations:
    get:
      operationId: listLocations
      summary: List Locations
      description: Retrieve location information including address, services offered, business hours, and contact details.
      tags:
      - Locations
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  locations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Location'
components:
  schemas:
    Location:
      type: object
      properties:
        locationId:
          type: string
        name:
          type: string
        address:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        services:
          type: array
          items:
            type: string
        businessHours:
          type: string
        phone:
          type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
externalDocs:
  description: Ryder FMS API Documentation
  url: https://developer.ryder.com/fms/docs/fms-fleet-api/overview
