openapi: 3.1.0
info:
  title: Ryder Carrier Documents Tracking API
  description: The Ryder Carrier API enables carriers to push updates to Ryder for managing transportation, brokerage, and tracking services. Carriers can submit event updates for load tenders, milestones, and vehicle locations, and upload documents to the RyderShare platform. Authentication uses an API key provided in the Ocp-Apim-Subscription-Key header.
  version: '2026-01-01'
  contact:
    name: Ryder Developer Portal
    url: https://developer.ryder.com
servers:
- url: https://api.ryder.com/rcsc/events/v1
  description: Production
- url: https://apiqa.ryder.com/rcsc/events/v1
  description: Testing
security:
- apiKeyAuth: []
tags:
- name: Tracking
  description: Vehicle and shipment location tracking
paths:
  /tracking:
    post:
      operationId: submitLocationUpdate
      summary: Submit Location Update
      description: Submit a real-time vehicle location update for tracking purposes.
      tags:
      - Tracking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationUpdate'
      responses:
        '200':
          description: Location update accepted
components:
  schemas:
    LocationUpdate:
      type: object
      required:
      - load_id
      - latitude
      - longitude
      - timestamp
      properties:
        load_id:
          type: string
        vehicle_id:
          type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        timestamp:
          type: string
          format: date-time
        speed:
          type: number
          description: Speed in miles per hour
        heading:
          type: number
          description: Heading in degrees (0-360)
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
externalDocs:
  description: Ryder Carrier API Documentation
  url: https://developer.ryder.com/scs/docs/scs-carrier/overview
