openapi: 3.1.0
info:
  title: Ryder Carrier Documents Ship Status API
  description: The Ryder Carrier API enables carriers to push updates to Ryder for managing transportation, brokerage, and tracking services. Carriers can submit event updates for load tenders, milestones, and vehicle locations, and upload documents to the RyderShare platform. Authentication uses an API key provided in the Ocp-Apim-Subscription-Key header.
  version: '2026-01-01'
  contact:
    name: Ryder Developer Portal
    url: https://developer.ryder.com
servers:
- url: https://api.ryder.com/rcsc/events/v1
  description: Production
- url: https://apiqa.ryder.com/rcsc/events/v1
  description: Testing
security:
- apiKeyAuth: []
tags:
- name: Ship Status
  description: Shipment status and tracking
paths:
  /ship-status/{shipmentId}:
    get:
      operationId: getShipmentStatus
      summary: Get Shipment Status
      description: Retrieve the current status and tracking information for a shipment throughout its lifecycle.
      tags:
      - Ship Status
      parameters:
      - name: shipmentId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShipmentStatus'
        '404':
          description: Shipment not found
components:
  schemas:
    ShipmentStatus:
      type: object
      properties:
        shipmentId:
          type: string
        currentStatus:
          type: string
        lastEvent:
          type: string
        lastEventTime:
          type: string
          format: date-time
        currentLocation:
          type: object
          properties:
            latitude:
              type: number
            longitude:
              type: number
            description:
              type: string
        estimatedDelivery:
          type: string
          format: date-time
        events:
          type: array
          items:
            type: object
            properties:
              eventType:
                type: string
              timestamp:
                type: string
                format: date-time
              location:
                type: string
              description:
                type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
externalDocs:
  description: Ryder Carrier API Documentation
  url: https://developer.ryder.com/scs/docs/scs-carrier/overview
